@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cormorant';
  src: url('./assets/font/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}

body {
  font-family: cormorant;
  font-size: 1.2rem;
  background-color: #f3f4f6;
}
